$bodyColor: #1D2733;
$tableColor: #FFF;
$hoverButtonBgColor: #49c1ff;
$primaryColor: #292E37; //Gunmetal
$secondaryColor: #4E598C; //Purple Navy
$thirdColor: #1B4079; //Dark Cerulean;
$fourthColor: #279DC4; //Pacific Blue;
$fifthColor: #798086; //Trolley Grey
