<footer>
  <br><br>
  <div class="footersec">
    <i class="fas fa-copyright"></i><br>
    <h1>Copyrights</h1>

    Kacper Mandla &copy;<br>
    Bartosz Studnik &copy;
  </div>
  <div class="footersec">
    <i class="fas fa-graduation-cap"></i>
    <br>
    <h1>Purpouse</h1>
    XI Międzynarodowy Konkurs Informatyczny 2018<br>
      Rybnik, 2018<br />
  </div>
  <div class="footersec">
    <i class="fas fa-code"></i>
    <h1>Technologies</h1>
    <i class="fab fa-angular icons"></i>
    <i class="fab fa-sass icons"></i>
    <i class="fab fa-node icons"></i>
    <i class="fab fa-bitbucket icons"></i>
    <i class="fab fa-js-square icons"></i>
    <i class="fas fa-database icons"></i><br>
    <i class="fab fa-trello icons"></i>
    <i class="fab fa-android icons"></i>
    <i class="fab fa-windows icons"></i>
    <i class="fab fa-apple icons"></i>
    <i class="fab fa-linux icons"></i>


  </div>


</footer>
