<form [formGroup]="submenuForm" (ngSubmit)="createSubmenu(submenuForm.value)">
  <div class="form-group">
    <h1>Submenu creation form</h1>

    <label>Name<br>
      <input type="text"  formControlName="name" class="form-control">
    </label>
    <br />

    <div *ngIf="submenuForm.controls.name.invalid; else nameok"
         class="alert alert-danger left-border-red">
      <div *ngIf="submenuForm.controls.name.errors.required">
        &#9932; Submenu name is required.
      </div>
      <div *ngIf="submenuForm.controls.name.errors.minlength">
        &#9932; Submenu name must contain at least 3 characters
      </div>

    </div>
    <ng-template #nameok>
      <div class="alert alert-success left-border-green">
        &#10004; Submenu name is valid
      </div>
    </ng-template>


    <label>Sequence <br>
      <input type="number" formControlName="sequence" class="form-control">
    </label>
    <br />

    <div *ngIf="submenuForm.controls.sequence.invalid; else sequenceOK"
         class="alert alert-danger left-border-red">
      <div *ngIf="submenuForm.controls.sequence.errors.required">
        &#9932; Sequence is required.
      </div>
    </div>
    <ng-template #sequenceOK>
      <div class="alert alert-success left-border-green">
        &#10004; Sequence is valid
      </div>
    </ng-template>

    <label>url<br>
      <input type="text" formControlName="url" class="form-control">
    </label>
    <br />

    <div *ngIf="submenuForm.controls.url.invalid; else urlOK"
         class="alert alert-danger left-border-red">
      <div *ngIf="submenuForm.controls.url.errors.required">
        &#9932; URL is required.
      </div>
    </div>
    <ng-template #urlOK>
      <div class="alert alert-success left-border-green">
        &#10004; URL is valid
      </div>
    </ng-template>

    <label>Translations
      <p-pickList [source]="translations" [target]="selectedTranslations" sourceHeader="Available" targetHeader="Selected" [responsive]="true" filterBy="name"
                  dragdrop="true" dragdropScope="translations" sourceFilterPlaceholder="Search..." targetFilterPlaceholder="Search..." [sourceStyle]="{'height':'300px'}" [targetStyle]="{'height':'300px'}">
        <ng-template let-translation pTemplate="item">
          <div class="ui-helper-clearfix">
            <div style="font-size:14px;float:left;margin:15px 5px 0 0">
              {{translation.name}} <br />
              {{translation.language.name}} <br />
              {{translation.text}}</div>
          </div>
        </ng-template>
      </p-pickList>
    </label>
    <br />

    <input type="submit" class="button expanded" value="Submit Form" [disabled]="!submenuForm.valid">
  </div>
</form>
