/*input[type=text], input[type=password] {
  margin-top: 10px;
  margin-bottom: 5px;
  color: #000;
}*/

h1{
  text-align: center;
  width: 100%;
}
.alertdiv:nth-child(1), .alertok{
  margin-top: 25%;
}
.alert-success {
  display: block;
  padding-top: 12%;
}
input{
  color: black;
}

