<div *ngIf="ts.translations">
  <div class="content" id="content1" >
    <h1 [innerHTML]="'homepage_1' | trans"></h1>
    <img src="../../assets/img/test_image.png">
  </div>
  <div class="content" id="content2" >
    <br>
    <h1 [innerHTML]="'homepage_2' | trans"></h1>
    <img src="../../assets/img/wi-fi.png">
  </div>
  <div class="content" id="content3" >
    <br>
    <h1 [innerHTML]="'homepage_3' | trans"></h1>
    <img src="../../assets/img/wifi.png">
  </div>
  <div class="content" id="content4" >

  </div>
</div>
